<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Pragman Family Farms{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS & Google Fonts -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <!-- jQuery and Bootstrap JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://js.stripe.com/v3/"></script>

  {% block head %}{% endblock %}
</head>
<body id="main" data-spy="scroll" data-target=".navbar" data-offset="60">

  <!-- NAVBAR -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <!-- Collapsed menu button -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Logo with configurable link -->
        <a class="navbar-brand" href="{% block brand_href %}#main{% endblock %}">
          <img src="{{ url_for('static', filename='logo3.png') }}" alt="Pragman Family Farms Logo" style="height: 30px;">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          {% block nav_links %}
            <li><a href="/#main">HOME</a></li>
            <li><a href="/#vision">OUR VISION</a></li>
            <li><a href="/#technology">TECHNOLOGY</a></li>
            <li><a href="/#about">ABOUT</a></li>
            <li><a href="/store">STORE</a></li>
            <li><a href="/services">SERVICES</a></li>

            <li><a href="#contact">CONTACT</a></li>
          {% endblock %}
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}{% endblock %}
  {% block scripts %}{% endblock %}

</body>
</html>
