<!DOCTYPE html>
<html lang="en">
<head>


<title>Quick Brief</title>

<body>

<!-- Container (Metars Section) -->
<div id="metars">
  <div align = "left" class="row" width = "1024">
      <h2>METARs</h2><br>

        <div>
                {% for sta in stations %}
                <TR>
                   <TD>{{ metars[sta]['raw_text'] }}</TD>
                </TR><br>
                {% endfor %}
        </div>

    </div>
</div>

<!-- Container TAF section -->
<div id="tafs">
  <div class="row">
        <h2>TAFs</h2><br>
        <div align = "left" width = "1024">
                   <TD>{{tafs.PASC.raw_text }}</TD>
                </TR><br>
                <TR>
                   <TD>{{tafs.PAQT.raw_text }}</TD>
                </TR><br>
                <TR>
                   <TD>{{tafs.PABR.raw_text }}</TD>
                </TR><br>
                <TR>
                   <TD>{{tafs.PABT.raw_text }}</TD>
                </TR>
        </div>
    </div>

</div>

</body>
</html>
